.title{
    color: #fbd4d4;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-bottom: 6px;
}
.list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}

.text{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    border-radius: 8px;
    border: 1px solid #ffffff;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #efb5b5c6;
}
.wrap{
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
}
