.card{
    display: flex;
}

.header{
    position: absolute;
    height: 50px;
    background-color: #c90909c6;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid white; */
}