.card{
  width: 300px;
  height: 450px;
    object-fit: cover;
}
.title{
  color: white;
    font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 16px;
}

.cardImg{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}